* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.container {
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    background: #ddd;
}

.box {
    height: 400px;
    padding:20px;
    background: purple;
    border: 3px solid #ddd;
    font-size: 30px;
    flex: 1;
    transition: 1s;
}

.box:hover {
    flex:3;
    background: #d67ab8;
    
}
